@keyframes intro {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.save {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba($color: #000, $alpha: 0.4);
    overflow: hidden;

}

.section {
    background-color: var(--color-white);
    padding: 2.4rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    animation-name: intro;
    animation-duration: 0.3s;

    &__btnClose {
        background-color: var(--color-white);
        border: none;
        outline: none;
        position: absolute;
        top: 1rem;
        cursor: pointer;
        left: 1rem;
        transition: all 0.3s ease-in-out;


        &:hover {
            background-color: #f2f2f3;
        }
    }

    &__closeIcon {
        width: 2rem;
        height: 2rem;
    }

    &__heading {
        color: var(--color-black);
        font-weight: 800;
        font-size: 3.5rem;
        text-align: center;
        line-height: 1;
        letter-spacing: -0.05em;
    }

    &__description {
        color: var(--color-grey-dark);
        font-size: 1.6rem;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }


    &__input {
        padding: 1.2rem 2rem;
        padding-right: 3.5rem;
        font-family: inherit;
        color: inherit;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 10px;
        border: 1px solid var(--color-grey-light);
        width: 100%;
        display: block;
        transition: all 0.3s ease-in-out;

        &::-webkit-input-placeholder {
            color: var(--color-grey-dark);
        }

        &:hover {
            border: 1px solid var(--color-grey-dark);
        }

        &:focus {
            outline: none;
            border: 1px solid var(--color-primary);
        }
    }

    &__errors {
        font-size: 1.1rem;
        margin-top: 0.6rem;
        padding-left: 0.6rem;
        color: #f14d73;
    }

    &__btnColor {
        font-family: 'Raleway', sans-serif;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.7;
        cursor: pointer;
        border: none;
        outline: none;
        width: 30rem;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: 10px;
        box-shadow: 0 0.5rem 1rem rgba(var(--color-black), $alpha: 0.2);
        transition: all 0.3s ease-in-out;
        background-color: var(--color-primary);
        color: var(--color-white);
        transition: all 0.3s ease-in-out;
        margin-top: 1.6rem;

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0rem 0.7rem 2rem rgba(var(--color-black), $alpha: 0.2);
            background-color: #800f2f;
        }
    }
}