@keyframes icon-animation {
    0% {
        opacity: 0;
        width: 0;
    }

    50% {
        opacity: 0.5;
        width: 1;
    }

    100% {
        opacity: 1;
        width: 2rem;
    }
}

.colorBox {
    flex-grow: 1;
    flex-basis: 0;
    height: 12.4rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: flex-basis 0.1s ease-in-out;

    &:hover &__text {
        display: inline-block;
    }

    &__text {
        display: none;
        text-transform: uppercase;
        font-size: 1.6rem;
        transition: flex-basis 0.3s ease-in-out;

        &--hide {
            display: none !important;
        }
    }

    &__icon {
        fill: var(--color-black);
        height: 3rem;
        width: 3rem;
        display: none;

        &--show {
            display: block;
            animation-name: icon-animation;
            animation-duration: 0.1s;
            animation-timing-function: ease-in-out;
        }
    }

    &:first-child {
        border-radius: 10px 0 0 10px;
    }

    &:last-child {
        border-radius: 0px 10px 10px 0;
    }

    &:hover {
        flex-basis: 8rem;
    }
}