@import "./scss/mixin";

.home-container {
    max-width: 1500px !important;
    width: auto !important;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-direction: row;
    height: 63rem;

    &__left {
        flex: 0 0 50%;
        padding: 10rem 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(phone) {
            flex: 1;
        }
    }

    &__right {
        flex: 0 0 50%;
        background-image: url("../../public/images/home.png");
        background-size: cover;
        background-position: center;
        z-index: 2;

        @include respond(phone) {
            display: none;
            flex: 0;
        }
    }

    &__headingPrimary {
        color: var(--color-black);
        font-weight: 800;
        font-size: 7rem;
        text-align: center;
        line-height: 1;
        letter-spacing: -0.05em;
    }

    &__text {
        color: var(--color-grey-dark);
        font-size: 1.8rem;
        text-align: center;
        margin: 3rem 0rem;
    }

    &__btnOutline,
    &__btnRound {

        &,
        &:link,
        &:visited {
            text-decoration: none;
            display: inline-block;
            transition: all 0.3s ease-in;
            width: 30rem;
            text-align: center;
        }
    }

    &__btnOutline {

        &,
        &:link,
        &:visited {
            color: var(--color-black);
            border: 1px solid var(--color-grey-light);
            font-size: 1.6rem;
            padding: 1rem 3rem;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
            margin-bottom: 1.6rem;

            &:hover {
                background-color: var(--color-grey-light-2);
                transform: translateY(-0.3rem);
                box-shadow: 0rem 0.7rem 2rem rgba(var(--color-black), $alpha: 0.2);
            }
        }
    }

    &__btnRound {

        &,
        &:link,
        &:visited {
            background-color: var(--color-primary);
            color: var(--color-white);
            font-size: 1.6rem;
            padding: 1rem 3rem;
            border-radius: 10px;
            box-shadow: 0 0.5rem 1rem rgba(var(--color-black), $alpha: 0.2);
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #800f2f;
                transform: translateY(-0.3rem);
                box-shadow: 0rem 0.7rem 2rem rgba(var(--color-black), $alpha: 0.2);
            }
        }

    }
}

.section {
    background-image: url("../../public/images/home2.png");
    background-size: cover;
    background-position: center;
    height: 67rem;
}