.new {
    display: flex;

    &__left {
        flex: 1;
        padding: 2rem 2rem;
    }

    &__right {
        flex: 0 0 30%;
        border: 1px solid var(--color-grey-light);
    }

    &__headingPrimary {
        color: var(--color-black);
        font-weight: 900;
        font-size: 4.5rem;
        text-align: center;
        line-height: 1;
        letter-spacing: -0.05em;
        margin-bottom: 2rem;
    }

    &__dragableColorBoxes {
        display: flex;
        flex-direction: row;
        // border-radius: 10px;
    }

    &__footer {
        display: flex;
        padding: 2rem 2rem;
        justify-content: space-between;
        margin-top: 3.8rem;
    }

    &__btnOutline {
        width: 15rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        line-height: 1.7;
        outline: none;
        color: var(--color-black);
        border: 1px solid var(--color-grey-light);
        font-size: 1.4rem;
        padding: 0.8rem 1.8rem;
        border-radius: 10px;
        transition: all 0.3s ease-in;
        background-color: var(--color-white);
        cursor: pointer;

        &:hover {
            background-color: var(--color-grey-light-2);
        }

    }

    &__btnRound {
        width: 15rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        line-height: 1.7;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: var(--color-primary);
        color: var(--color-white);
        transition: all 0.3s ease-in;
        font-size: 1.4rem;
        padding: 0.8rem 1.8rem;
        border-radius: 10px;

        &:hover {
            background-color: #800f2f;
        }


    }
}